<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<style>
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/images/creargrupofondo.png');
        background-size: 90%;
        background-position: 100% center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .crear-grupo-container {
        height: 100vh;
        overflow: hidden;
        padding: 2rem 1rem;
    }

    .titulo-crear {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        font-family: 'Beautiful Freak Bold', sans-serif; /* Añadí 'sans-serif' como respaldo */
        font-size: 70px;
        font-weight: bold;
    }

    .form-wrapper {
        display: flex;
        justify-content: center;
    }

    .form-box {
        background-color: #ffffff;
        border-radius: 1.5rem;
        padding: 2rem 2.5rem;
        max-width: 1200px;
        height: fit-content; /* se ajusta automáticamente */
        overflow: visible; /* evita scroll */
        width: 100%;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        position: relative;
        max-height: calc(100vh - 250px); /* Altura ajustable según tus necesidades */
        overflow-y: auto; /* Habilita el scroll vertical */
        padding: 1rem;
        /* Estilo opcional para la barra de scroll */
        scrollbar-width: thin;
        scrollbar-color: #DC4920 rgba(220, 73, 32, 0.1);
    }

        .form-box::-webkit-scrollbar {
            width: 8px;
        }

        .form-box::-webkit-scrollbar-track {
            background: rgba(220, 73, 32, 0.1);
            border-radius: 10px;
        }

        .form-box::-webkit-scrollbar-thumb {
            background-color: #DC4920;
            border-radius: 10px;
        }

    .paso-1 {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .input-grupo {
        margin-bottom: 2rem;
    }

        .input-grupo label {
            display: block;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        .input-grupo input {
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            padding: 0.75rem 1rem;
            background-color: #f3f3f3;
        }

    .paso-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .boton-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem; /* Cambiado a un valor positivo para dar espacio */
        gap: 1rem;
    }

    .boton-crear {
        background-color: #3b82f6;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 12px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .boton-crear:hover {
            background-color: #2563eb;
            color: white;
        }

    .boton-cancelar {
        background-color: #E94B2B;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 12px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .boton-cancelar:hover {
            background-color: #cf2e20;
            color: white;
        }
</style>

<div class="background"></div>

<div class="crear-grupo-container">

    <div class="titulo-crear">PERFIL</div>

    <div class="form-wrapper">
        <div class="form-box">
            <EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />

                <div class="paso-1">
                    Crear usuario
                </div>

                <div class="input-grupo">
                    <label style="font-weight: bold;">Nombre</label>
                    <InputText class="form-control" placeholder="Nombre del usuario" @bind-Value="@User.Name" />
                    <ValidationMessage For="@(() => User.Name)" />
                </div>

                <div class="input-grupo">
                    <label style="font-weight: bold;">Apellido</label>
                    <InputText class="form-control" placeholder="Apellido del usuario" @bind-Value="@User.Surname" />
                    <ValidationMessage For="@(() => User.Surname)" />
                </div>

                <div class="input-grupo">
                    <label style="font-weight: bold;">Número de télefono</label>
                    <InputText class="form-control" placeholder="Télefono del usuario" @bind-Value="@User.PhoneNumber" />
                    <ValidationMessage For="@(() => User.PhoneNumber)" />
                </div>

                <div class="input-grupo">
                    <label style="font-weight: bold;">Correo electrónico</label>
                    <InputText class="form-control" placeholder="Correo electrónico del usuario" @bind-Value="@User.Email" />
                    <ValidationMessage For="@(() => User.Email)" />
                </div>
                <div class="input-grupo">
                    <label style="font-weight: bold;">Fecha de nacimiento</label>
                    <InputDate class="form-control" placeholder="Fecha de nacimiento del usuario" @bind-Value="@User.DateOfBirth" />
                    <ValidationMessage For="@(() => User.DateOfBirth)" />
                </div>

                <div class="boton-container">
                    <button type="submit" class="boton-crear">Crear</button>
                    <span class="boton-cancelar" @onclick="ConfirmReturnAsync">Cancelar</span>

                </div>
            </EditForm>
        </div>
    </div>
</div>
